node_modules/
dist/
venv/
env/
media/
static/
.idea
.DS_Store
.env
.env.*
.vscode/
*.code-workspace
__pycache__/
*.pot
*.pyc
*.log
npm-debug.log*
build/
*.manifest
*.spec
*.deb

# Ignore redis binary dump (dump.rdb) files
*.rdb

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
logs/
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

#mediafiles 
mediafiles/

#file test
testfile1.txt
testfile2.txt